html,body{
	margin: 0px;
	padding: 0px;
	background-color: #6397A8 !important;
}
.title_style{
	margin:30px;
	text-align:center;	
}
/*contato*//* ajuda*//*marcar encontro*/
.content_style{
width: 85%;
background-color: #05324F;
background-image: url("imagens/conteudosuporte.png");
background-repeat: repeat-x;
border: 1px solid white;
box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
line-height: 160%;
margin: -15px auto 0;
margin-top:50px;
overflow-y: hidden;
padding: 30px 5%;
position: relative;
color:#fff;
}
.botao a{
	color: #fff;
}
.botao a:hover{
	color: #fff;
	text-decoration: none;
}