
#header { display:block; }
/*---MENU DO SITE---*/
/*.navbar { background: #fff; border: none; font-family: 'Agency FB', sans-serif; }
.navbar img { height: 50px; margin-top: -15px; }
.navbar-inverse .navbar-nav > li > a {color: #000; line-height: 24px; display: inline-block; font-family: 'Agency FB', sans-serif; font-size: 22px; text-transform: uppercase;}
.navbar-inverse .navbar-nav > li > a:hover{ color: #486D88; text-decoration: underline;}

.navbar-inverse .navbar-nav .dropdown-menu {background: rgba(0,0,0,0.4); border: 0; padding: 0; margin-top: 0; border-top: 0; border-radius: 0; left: 0; }
.navbar-inverse .navbar-nav .dropdown-menu > li > a { padding: 8px 15px; color: white; }
.navbar-inverse .navbar-nav .dropdown-menu > li:hover > a,
.navbar-inverse .navbar-nav .dropdown-menu > li:focus > a { background-color: #fff; color: black; }
.navbar-inverse .navbar-nav .dropdown-menu > li.divider { background-color: transparent}*/

.toggle-menu{
  display: none;
}
header{
  margin:35px 55px 50px 55px;
}
.site-title img{
  max-width: 220px;
  display: inline-block;
  vertical-align: middle;
}

.nav-list{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}
.nav-list > li {
  position: relative;
  font-size: 18px;
  font-family: 'Agency FB';
  font-weight: 550;
  letter-spacing: .1em;
  font-weight: bold;
}

.nav-list>li:not(.has-logo)>a{
  text-transform: uppercase;
  display: block;
  padding:1rem;

}
.nav-list a{
  color: #555 !important; 
}


.nav-list a:hover{
  text-decoration:none;
  color: #486D88 !important; 
  text-decoration: underline;
}

body { 
  color:white; 
  background:#fff !important;
}
label {
  padding: 6px;
  font-size: 18px;
}

h1.cadastro{
  font-family: 'Acme';
}
 input.botao{
  margin-top: 20px;
  width: 150px;
  background: #003350;
  margin-left:10px;
  font-size: 17px;
  color:#fff;
   }

    input.botao:hover,
    input.botao:focus{
      color:white;
    }

p.cadas {
  float: left;
}

p.senha {
  float: right;
}

.caixa_p {
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  color:#003350;
  background: rgba(255,255,255,0.5)
}


.caixa_p p{
  font-size: 20px;
}

a.ajuda {
  color: white;
  text-decoration: underline;
}

.botao a{
  color: #fff;
}

.botao a:hover{
  color: #fff;
  text-decoration: none;
}

@media only screen and (max-width: 1050px){
  html{
    font-size: 13px;
  }
  body{
    width: 100%;
  }
  
  .has-logo{
    display: none;
  }
  .mobile-display{
    display: block;
    margin:2rem auto;
    text-align: center
  }
}

@media only screen and (max-width: 764px){
  html{
    font-size: 6px;
  }
  body{
    width: 100%;
  }
  
  .has-logo{
    display: none;
  }
  .mobile-display{
    display: block;
    text-align: center;
    
  }
}

@media only screen and (max-width:680px){
  html{
    font-size: 15px;
  }
  
  .site-title img{
    max-width: 200px;
    display: inline-block;
    vertical-align: right;
  }
  .toggle-menu{
    display: block;
    max-width: -webkit-min-content;
    max-width: -moz-min-content;
    max-width: min-content;
    margin: 1rem auto;
    background-color: #486D88;
    text-align: center;
    color: #fff !important;
    padding: 15px 20px 15px 20px;
    border: .25em;

  }

  .toggle-menu:hover{text-decoration:none;}

  .nav-list{
    display: block;
    width: 100%;
    position: static;
    line-height: 1rem;
    z-index: 1012;
    left: 0;
    top:0;
    background-color: #fff;
    
    max-height: 0;
    overflow: hidden;
  
  }

  .active{
    max-height: 100%;
    overflow: auto;
  }



}